*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Raleway", sans-serif;
}




.navbar-brand img {
    width: 40px;
    height: 40px;
}



.quienes_somos{
    background: black;
    
}

.contacto_fondo{
    background: black;
}




.fondo_quienes{
    background: #17A2B8;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}


.bg-custom {
    background-color: #17A2B8;
}




.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }



.elemento-con-borde {
    border-top: 1px solid; /* Define un borde de 1 píxel de grosor y sólido */
    border-color: #2727275e; /* Puedes cambiar el color del borde al que prefieras */

}


















.navbarNav{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: regular;
}


#imagen_ros{
    
    background-image: url('../img/bg-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
}


#comida{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: bold;
}



#mistrabajos{
    font-size: 50px;
}

.trabajo{
    background-color: #17A2B8;
}


#acerca_demi{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: normal;
}

#foto #critica #blogera p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: normal;
}

h3{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
}



.card-body h5{
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.card-body p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: normal;
}


.card-body button{
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    font-weight: regular;
}



.card img{
    height: 332px;

}


#boton_envio{
 background: #17A2B8;
 border: none;
}

footer{
    height: 74px;
}